$colorScheme: (
  primary: #006a78,
  alt-primary: #19a2a7,
  secondary: #b1d235,
  grey-200: #f2f2f2,
  grey-300: #d2d2d2,
  grey-400: #a5a5a5,
  grey-500: #404040,
  _grey100: #666666,
  light: #fff,
  _black: #1a1a1a,
  light-green: #d2f5d9,
);

$breakpoints: (
  phone: (
    max-width: 575.98px,
  ),
  tablet: (
    max-width: 767.98px,
  ),
  ipad: (
    max-width: 1023.98px,
  ),
  ipad_pro: (
    max-width: 1399.98px,
  ),
  laptop: (
    max-width: 1400px,
  ),
) !default;
