/********************/
/*** SCSS PARTIALS ***/
/********************/
@import './mixin';
@import './functions';
@import './typography';
@import './elements';
@import './color';
@import './slick';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: color(grey-500) !important;
}
* {
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}
.cursor {
  cursor: pointer;
}

// NAVBAR SECTION
header {
  @include container;
  @include flex-x-between;
  @include position(fixed, 0, 0, '', 0);
  z-index: 11;
  box-shadow: 0px 3px 8px #0000000d;
  padding: rem(37) rem(80) rem(21) rem(80);
  height: rem(80);
  img {
    @include image-size(rem(164), rem(26));
  }
  a,
  a:link,
  a:active {
    color: color(_grey100);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu-toggle {
    display: none;
    @include responsive(display, block, ipad);
  }
  .mobile-menu {
    .sidemenu_toggle {
      display: none;
    }
    @include media(ipad) {
      .sidemenu-toggle {
        display: block;
        @include position(absolute, 1rem, 20%, '', '');
      }
      @include slide_menu;
    }
  }
}

.motion-in {
  // transform: translateX(0) !important;
  left: 30%;
}

ul {
  list-style: none;
}
.wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

// BANNER SECTION
.banner {
  @include row(ipad);
  color: color(light);
  margin-top: rem(80);
  &__text {
    @include image-size(50%, rem(605));
    background: color(grey-200);
    &__card {
      @include position(absolute, rem(80), rem(-52), rem(-80), rem(80));
      z-index: 1;
      @include card-gradient;
      box-shadow: 8px 8px 20px #0000001a;
      padding: rem(120) rem(90) rem(114) rem(90);
      @include flex-y-center;
    }
    h6 {
      font-size: rem(72);
    }
  }
  &__image {
    margin-left: auto;
    @include image-size(50%, rem(605));
    img {
      @include image-size(100%, 100%);
      object-fit: cover;
    }
  }
}

// FEATURES SECTION
.features {
  padding: rem(150) rem(80) 2rem rem(80);
  .row {
    padding: 0 rem(240);
  }
  &__intro {
    p {
      width: fit-content;
      margin-left: auto;
      line-height: 25px;
      font-size: 13px;
    }
  }
  &__slider {
    padding: 0 rem(190);
    margin-top: 2.5rem;
  }
  .slick-track {
    display: flex !important;
  }
  &__card {
    &:not(:first-of-type),
    &:not(:last-of-type) {
      padding: 0 0.5rem;
    }
    &:first-of-type {
      padding-right: 1rem;
    }
    &:last-of-type {
      padding-left: 1rem;
    }
    p {
      color: color(grey-100);
    }
    text-align: center;
    h6 {
      text-align: center;
    }
  }
  &__circle {
    @include image-size(rem(140), rem(140));
    background: color(grey-200);
    border-radius: 50%;
    @include flex-y-center-center;
    margin: auto;
  }
  h6 {
    line-height: 40px;
  }
}

.chat-widget {
  @include card-gradient;
  @include image-size(rem(196), rem(65));
  display: flex;
  align-items: center;
  z-index: 2;
  transform: rotate(90deg);
  @include position(fixed, 47%, -52.5px, '', '');
  box-shadow: -3px -3px 8px #0000001a;
  padding: rem(12) rem(17);
  span {
    white-space: pre;
  }
}
